p
{
    color: #e74c3c;
}
table, th, td {
   border: 1px solid #fe44ad;
}
body
{
	background:#27ae60;
    font-family: arial;
}
h1
{
	color:#d35400;
}
th
{
	color:#f1c40f;
}
tr
{
	color:#d35400;
}
li
{
	color:#C0041E;
}