p
{
    color: #e74c3c;
}
table, th, td {
   border: 1px solid #fe44ad;
}
body
{
	background: darkgrey;
    font-family: arial;
}
h1
{
	color:#d35400;
}
th
{
	color:#f1c40f;
}
tr
{
	color:#d35400;
}
li
{
	color:#C0041E;
}

.loader {
        position: relative;
        margin: auto;
        width: 132px;
        height: 132px;
        border-left: 16px solid #ffa700; 
        border-top: 16px solid #008744;
        border-right: 16px solid #0057e7;
        border-bottom: 16px solid #d62d20;
        border-radius: 50%;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }